/* form */
/*鼠标经过表格背景色*/
.bc td,
.bcg{background-color:#F3FFEE!important;}
.input {
	width: 58px;
	padding: 4px 2px;
	font-size: 12px;
	line-height: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/skin/green/BoxBg1.png) 0 -91px no-repeat;
	border: 1px solid #aab295;
	font-family:Verdana,"宋体",Arial,Sans;  
	vertical-align: middle;
}
.input:hover{
	border: 1px solid #d4724b;
}
.font_c{ color:#4b8a49;font-weight:bold;}
.btn{
	font-size: 12px;
	display: inline-block;
	padding: 4px 20px;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
	.hotBtn{
		font-weight: bold;
		color: #fff;
		text-shadow: 0px 1px 0px #d05000;
		background: #f07700;
		background-image:-webkit-linear-gradient(to top, #e36600, #ff8800);
		background-image:linear-gradient(to top , #e36600, #ff8800);
		border-bottom: 1px solid #b74c00;
	}
	.redBtn{
		font-weight: bold;
		color: #fff;
		text-shadow: 0px 1px 0px red;
		background: red;
		background-image:-webkit-linear-gradient(to top, red, red);
		background-image:linear-gradient(to top , red, red);
		border-bottom: 1px solid red;
	}
.redBtn:hover{
	background: red;
	background-image:-webkit-linear-gradient(to top, red, red);
	background-image:linear-gradient(to top , red, red);
}

	.hotBtn:hover{
		background: #ff8800;
		background-image:-webkit-linear-gradient(to top, #ff8800, #ff8800);
		background-image:linear-gradient(to top , #ff8800, #ff8800);
	}
	.grayBtn{
		font-weight: bold;
		color: #3d4c22;
		text-shadow: 0px 1px 0px #b4c791;
		background: #a2b87c;
		background-image:-webkit-linear-gradient(to top, #a2b87c, #b1c193);
		background-image:linear-gradient(to top , #a2b87c, #b1c193);
		border-bottom: 1px solid #72874f;
	}
	.grayBtn:hover{
		background: #b1c48d;
		background-image:-webkit-linear-gradient(to top, #b1c48d, #bccc9e);
		background-image:linear-gradient(to top , #b1c48d, #bccc9e);
	}
	.grayBtn1,.grayBtn1:hover{
		font-weight: bold;
		color: #898989;
		text-shadow: 0px 1px 0px #f2f2f2;
		background: #d1d1d1;
		background-image:-webkit-linear-gradient(to top, #c4c4c4, #dcdcdc);
		background-image:linear-gradient(to top , #c4c4c4, #dcdcdc);
		border-bottom: 1px solid #a2a2a2;
	}


/* global */
html{
	background: #ebebeb;
}
.widthAuto{
	background: url(../images/skin/green/BoxBg1.png) 0 -281px repeat-x;
}
.red {
	color: #e64100;
}
.blue {
	color: #004eff;
}
.green {
	color: #008d0d;
}
	.logo{
		
	}
	.user_pic{
		background: url(../images/micon.png) -1px -202px no-repeat;
	}
	.user_info p{
		color: #fff;
	}
	.user_info p span{
		margin-right:4px;
	}
	.user_info p.user_name{
		color: #fffc00;
	}
	.user_info p em{
		color: #a8b890;
	}
	.user_select a{
		background: #9bd14b url(../images/skin/green/BoxBg1.png) -320px -220px no-repeat
	}
	.user_select a:hover{
		background: #b0e363 url(../images/skin/green/BoxBg1.png) -380px -220px no-repeat
	}
	.user_select .user_select_item{
		background: #dae1cf;
		padding:6px;
		border-top:1px solid #4f6f00;
		border-right:none;
		border-left:1px solid #b9c3a8;
		border-bottom:1px solid #b9c3a8;
	}
	.user_select_itme_left, .user_select_itme_right{
		border: 1px solid #bfc6b5;
	}
	.user_select .user_select_item h3{
		background: #ecf3e0 linear-gradient(to top, #ecf3e0, #FFF) repeat scroll 0% 0%;
		border-bottom: 1px solid #bfc6b5;
	}
	.user_select .user_select_item p{
		background: #fff;
		font-family:Verdana,"宋体",Arial,Sans;
	}
	.menu{
		-webkit-box-shadow: 0px 1px 0px #ced5c3;
	  	-moz-box-shadow: 0px 1px 0px #ced5c3;
	  	box-shadow: 0px 1px 0px #ced5c3;
	}
	.menu a{
		color:#000;
		border: 1px solid #afbf87;
	    background: #f0f4fa;
		background-image:-webkit-linear-gradient(to top, #f2f7e8, #fdfeff );
		background-image:linear-gradient(to top, #f2f7e8, #fdfeff );
	}
	.menu a:hover{
	    background: #fdfeff;
		background-image:-webkit-linear-gradient(to top, #d3e0bd, #fdfeff);
		background-image:linear-gradient(to top , #d3e0bd, #fdfeff);
		color:#e64100;
	}
	.menu a i{
		background: url(../images/BoxBg.png) -363px -28px no-repeat;
	}
		.menu div{
			border: 1px solid #afbf87;
		    background: #fff;
		    -moz-box-shadow: 0px 1px 5px #ccc;
		    -webkit-box-shadow: 0px 1px 5px #ccc;
		    box-shadow: 0px 1px 5px #ccc;
		}
		.menu div li a{
			border-bottom: 1px dotted #afbf87;
			background: url(../images/BoxBg.png) 12px -57px no-repeat;
		}
		.menu div li a:hover{
			background: #e7efe0 url(../images/BoxBg.png) 17px -57px no-repeat;
		}
	.nav{
		border: 1px solid #afbf87;
	    background: #f0f4fa;
		background-image:-webkit-linear-gradient(to top, #f2f7e8, #fdfeff );
		background-image:linear-gradient(to top, #f2f7e8, #fdfeff );
		-webkit-box-shadow: 0px 1px 0px #ced5c3;
	  	-moz-box-shadow: 0px 1px 0px #ced5c3;
	  	box-shadow: 0px 1px 0px #ced5c3;
	}
	.nav a{
		border-right: 1px solid #c5cab7;
		color:#000;
	}
	.nav a:hover{
	    background: #fdfeff;
		background-image:-webkit-linear-gradient(to top, #d3e0bd, #fdfeff);
		background-image:linear-gradient(to top , #d3e0bd, #fdfeff);
		color:#e64100;
	}
.notice{
	color:#000;
	background: #fcf5f3 url(../images/skin/green/BoxBg1.png) 0px -131px no-repeat;
	border-top: 1px solid #afbf87;
    -moz-box-shadow:-2px -2px 5px #f7f7f7; 
    -webkit-box-shadow:-2px -2px 5px #f7f7f7; 
}

/* sub */

.top_info{
    background: #ffffff;
	border-bottom:1px solid #bfc6b5;
	border-top:1px solid #fff;
	background-image:-webkit-linear-gradient(to top, #ffffff, #f3f6ee);
	background-image:linear-gradient(to top , #ffffff, #f3f6ee);
    -moz-box-shadow:0px 2px 5px #d6d6d6; 
    -webkit-box-shadow:0px 2px 5px #d6d6d6; 
    box-shadow:0px 2px 5px #d6d6d6;
}
		.sticky_top{
		    background: #ffffff;
			background-image:-webkit-linear-gradient(to top, #ffffff, #f3f6ee);
			background-image:linear-gradient(to top , #ffffff, #f3f6ee);
		}
			.game_name_wrap{
				border-right: 1px dotted #b0bf8d;
			}
				.happy10{
					background: url(../images/pic1.png) no-repeat;
				}
					.game_name h5 em{
						color: #333;
					}
					.game_name p{
						color: #6a737c;
					}
					.game_name p b{font-family:Verdana,"宋体",Arial,Sans; font-weight:normal;}

				.game_info_wrap h4 em{
					color: #e64100;
					font-family:Verdana;
				}
				.game_info_wrap h4 span{
					color: #004eff;
					font-family:Verdana,"宋体",Arial,Sans;
				}
					.game_info_wrap h4 .time.time_loading{
						background: url(../images/loading_x.gif) left center no-repeat;
					}
					.game_info_wrap h5 .ball.time_loading{
						background: url(../images/loading_x.gif) left center no-repeat;
					}
					.game_info_wrap h4 .time span{
						color: #e64100;
						border: 1px solid #b9c3a7;
						background: url(../images/skin/green/BoxBg1.png) -3px -255px repeat-x;
					}
				.game_info_wrap h5 b{
					color: #008d0d;
					font-family:Verdana,"宋体",Arial,Sans;
				}
				.game_info_wrap h4 i{
					color: #ff0000;
					font-family:Verdana,"宋体",Arial,Sans;
				}
			.look_history_btn{
				background: #f3f5ee url(../images/skin/green/BoxBg1.png) -196px -177px no-repeat;
				border: 1px solid #bfc6b5;
				border-bottom: none;
			}
			.look_history_btn:hover{
				background: #eaede1 url(../images/skin/green/BoxBg1.png) -196px -177px no-repeat;
			}
			.look_history_btn.active{
				background: #f3f5ee url(../images/skin/green/BoxBg1.png) -352px -177px no-repeat;
			}
			.look_history_btn.active:hover{
				background: #eaede1 url(../images/skin/green/BoxBg1.png) -352px -177px no-repeat;
			}
			.history_wrap table{
				background-color: #ffffff;
				border: 1px #d7dfd0 solid;
			}
			.history_wrap thead{
				background: #f5f5f5;
			}
			.history_wrap td{
				border: 1px solid #d7dfd0;
				background: #fff;
			}
			.history_wrap th{
				background: #ecf3e0;
				border: 1px solid #d7dfd0;
				background-image:-webkit-linear-gradient(to top, #ecf3e0, #ffffff);
				background-image:-o-linear-gradient(to top, #ecf3e0, #ffffff);
				background-image:linear-gradient(to top, #ecf3e0, #ffffff);
			}

	.game_box_title ul{
		border-bottom: 2px solid #519003;
	}
	.game_box_title li{
		background: #ecf3e0;
		background-image:-webkit-linear-gradient(to top, #ecf3e0, #ffffff);
		background-image:linear-gradient(to top , #ecf3e0, #ffffff);
		border-top: 1px solid #bdc8a3;
		border-left: 1px solid #bdc8a3;
		border-right: 1px solid #bdc8a3;
	}
	.game_box_title li:hover{
	background-image:-webkit-linear-gradient(to top, #d0dbbc, #ffffff);
	background-image:linear-gradient(to top , #d0dbbc, #ffffff);
	color:#000;
	}
	.game_box_title li a{
		color:#000;
	}
	.game_box_title li.active{
		color: #fff;
		border: 1px solid #66a00c;
		border-bottom: none;
		background: #519003;
		background-image:-webkit-linear-gradient(to top, #519003, #84b81a);
		background-image:linear-gradient(to top , #519003, #84b81a);
	}
	.game_box_title li.active a{
		color: #fff;
		font-weight: bold;
	}
	.game_box_con{
		border: 1px solid #b0bf89;
		border-top:none;
		background: #fff;
		-webkit-box-shadow: 0px 1px 5px #adb5bf;
		-moz-box-shadow: 0px 1px 5px #adb5bf;
		box-shadow: 0px 1px 5px #adb5bf;
	}
		.game_item_warp{
			background: #fff;
		}
		.game_item{
			background: #fff;
		}
		.game_item li.on{
			background: #fffeee
		}

.trend_wrap{
	-webkit-box-shadow: 0px 1px 5px #adb5bf;
	-moz-box-shadow: 0px 1px 5px #adb5bf;
	box-shadow: 0px 1px 5px #adb5bf;
}
	.trend_title{
		background: #ecf3e0;
		background-image:-webkit-linear-gradient(to top, #ecf3e0, #ffffff);
		background-image:linear-gradient(to top , #ecf3e0, #ffffff);
		border-top: 2px solid #529103;
		border-bottom: 1px solid #afbf87;
	}
	.trend_title li a{	
		color:#000;
		border-right: 1px solid #afbf87;
	}
	.trend_title li:hover{
	background-image:-webkit-linear-gradient(to top, #d0dbbc, #ffffff);
	background-image:linear-gradient(to top , #d0dbbc, #ffffff);
	color:#000;
	}
	.trend_title li.active a{
		background: #529103;
		color: #fff;
		font-weight: bold;
	}
	.trend_con li{
		background: url(../images/skin/green/trend.gif);
	}
	.trend_con li span.active{
		color: #b22828;
		background: none;
	}


/* rightBox */
.rightBox {
	border: 1px solid #519003;
	background: #e9dacf;
	-webkit-box-shadow: 0px 1px 5px #a9a9a9;
	-moz-box-shadow: 0px 1px 5px #a9a9a9;
	box-shadow: 0px 1px 5px #a9a9a9;
}
	.rightBox .left li {
		border-bottom: 1px solid #c9a285;
		border-top: 1px solid #f4dccc;
		background: #e4c8b5;
		color: #343434;
	}
	.rightBox .left .active {
		background: #e86d05;
		color: #FFFFFF;
	}

	.rightBox .right {
		border-left: 2px solid #e86d05;
		background: #fff;
		font-family:Verdana;
	}
	.rightBox .right dl{
		background: #fff;
		border-bottom: 1px dashed #c4a386;
		color: #343434;
	}
	.rightBox .right li{
		padding-left:5px;
		line-height:24px;
		background: #fff;
		border-bottom: 1px dashed #c4a386;
		color: #343434;
	}
	.rightBox .right li.on,.rightBox .right dl.on{
		background: #f6e8d9;
	}
	.rightBox .right .active {
		background: #f9f2eb;
	}



/* artDialog */

.ui-dialog {
    background-color: #FFF;
    border: 3px solid #519003;
    border-radius: 0px;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
}
.ui-popup-bottom-left .ui-dialog-arrow-b, 
.ui-popup-bottom .ui-dialog-arrow-b, 
.ui-popup-bottom-right .ui-dialog-arrow-b {
	top: -15px;
	border-bottom: 8px solid #e1e7db;
}
.ui-popup-bottom-left .ui-dialog-arrow-a,
.ui-popup-bottom .ui-dialog-arrow-a,
.ui-popup-bottom-right .ui-dialog-arrow-a {
    top: -19px;
    border-bottom:8px solid #519003;
}
.ui-dialog-title {
	font-size: 12px;
	line-height: 1.428571429;
	min-height: 16.428571429px;
	padding: 5px 5px 5px 25px;
	background: url(../images/skin/green/BoxBg1.png) -63px -152px no-repeat;
}
.ui-dialog-header {
	background: #e1e7db;
}
.ui-dialog-header {
    white-space: nowrap;
    border-bottom: 1px solid #cbd6c1;
}
.ui-dialog-close {
	top: 5px;
	right: 5px;
	_height: 14px;
	padding: 0 2px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #FFF;
}
.ui-dialog-body {
	padding: 10px;
	text-align: center;
}
.ui-dialog-content{
	font-size: 12px;
}

.ui-dialog-footer{
	padding: 5px;
	background: #ebefe8;
	border-top: 1px solid #d7dfd0;
}
.ui-dialog-footer button{	
	font-size: 12px;
	display: inline-block;
	padding: 2px 20px;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.ui-dialog-footer button{
	font-weight: bold;
	color: #343434;
	text-shadow: 0px 1px 0px #b9c8df;
	background: #afc8e6;
	background-image:-webkit-linear-gradient(to top, #9dbbde, #bfd3ed);
	background-image:linear-gradient(to top , #9dbbde, #bfd3ed);
}
.ui-dialog-footer button:hover{
	background: #bfd3ed;
	background-image:-webkit-linear-gradient(to top, #bfd3ed, #bfd3ed);
	background-image:linear-gradient(to top , #bfd3ed, #bfd3ed);
}
.ui-dialog-footer button.ui-dialog-autofocus{
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 1px 0px #d05000;
	background: #f07700;
	background-image:-webkit-linear-gradient(to top, #e36600, #ff8800);
	background-image:linear-gradient(to top , #e36600, #ff8800);
}
.ui-dialog-footer button.ui-dialog-autofocus:hover{
	background: #e36600;
	background-image:-webkit-linear-gradient(to top, #ff8800, #e36600);
	background-image:linear-gradient(to top , #ff8800, #e36600);
}

.ui-dialog-button button{
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 1px 0px #d05000;
	background: #f07700;
	background-image:-webkit-linear-gradient(to top, #e36600, #ff8800);
	background-image:linear-gradient(to top , #e36600, #ff8800);
	border-bottom: 1px solid #B74C00;
}
.ui-dialog-button button:hover{
	color: #fff;
	background: #e36600;
	text-shadow: 0px 1px 0px #d05000;
	background-image:-webkit-linear-gradient(to top, #ff8800, #e36600);
	background-image:linear-gradient(to top , #ff8800, #e36600);
	border-bottom: 1px solid #B74C00;
}
.ui-dialog-loading{
	margin-top: 0px;
}
.error-tips.ui-dialog{
	border: 1px solid #e64100;
}
.error-tips .ui-dialog-arrow-a{
	border-top: 8px solid #e64100;
}
.error-tips .ui-dialog-content{
	color: #e64100
}


#skinChange{
	color: #fff;
	background: url(../images/skin/green/BoxBg1.png) -383px -109px no-repeat;
	border-top: 1px solid #abd953;
	border-right: 1px solid #416e00;
	border-bottom: 1px solid #416e00;
	border-left: 1px solid #abd953;
}
#skinChange:hover{
	color: #fff;
	background: url(../images/skin/green/BoxBg1.png) -287px -109px no-repeat;
	border-top: 1px solid #416e00;
	border-right: 1px solid #abd953;
	border-bottom: 1px solid #abd953;
	border-left: 1px solid #416e00;
}
#skinChange .skin_btn{
	color: #fff;
	background: url(../images/skin/green/BoxBg1.png) -396px -91px no-repeat;
}
#skinChange em{
	background: #fff;
	border: 1px solid #b9c3a7;
	z-index:99999;
}

#skinChange em a{
	border-bottom: 1px dotted #b9c3a7;
}

.skin_blue i{
	background: url(../images/BoxBg.png) -180px -106px no-repeat;
}
.skin_green i{
	background: url(../images/BoxBg.png) -180px -160px no-repeat;
}
.skin_red i{
	background: url(../images/BoxBg.png) 0px -160px no-repeat;
}
.skin_yellow i{
	background: url(../images/BoxBg.png) 0px -106px no-repeat;
}
#skinChange em a.on{
	background-color: #d8f5cc
}
#skinChange em a.on i{
	background-position: -180px -140px;
}

.hot_Cool{
	-webkit-box-shadow: 0px 1px 5px #adb5bf;
	-moz-box-shadow: 0px 1px 5px #adb5bf;
	box-shadow: 0px 1px 5px #adb5bf;
}
.hot_Cool table{
	background-color: #ffffff;
	border: 1px #d7dfd0 solid;
	border-top: 2px #529103 solid;
	font-family:Verdana;
}
.hot_Cool table th{
	border: 1px #c7d8b0 solid;
	background: #e5efd2;
	background-image: -webkit-linear-gradient(to top, #e5efd2, #f8fef8);
	background-image: linear-gradient(to top , #e5efd2, #f8fef8);
}
.hot_Cool table td{
	background-color: #ffffff;
	border: 1px #d7dfd0 solid;
}

.game_lm_title ul{	
	border: 1px solid #bdc8a3;
	background: #ecf3e0;
	background-image:-webkit-linear-gradient(to top, #ecf3e0, #ffffff);
	background-image:linear-gradient(to top , #ecf3e0, #ffffff);
}
.game_lm_title li{
	float: left;
	padding:5px 10px;
	text-align: center;	
	background: #ecf3e0;
	background-image:-webkit-linear-gradient(to top, #ecf3e0, #ffffff);
	background-image:linear-gradient(to top , #ecf3e0, #ffffff);
	border-right: 1px solid #bdc8a3;
	border-left: none;
	cursor: pointer;
}
.game_lm_title li:hover{
	background-image:-webkit-linear-gradient(to top, #d0dbbc, #ffffff);
	background-image:linear-gradient(to top , #d0dbbc, #ffffff);
	color:#000;
}
.game_lm_title li.active{
	color: #fff;
	background: #5f9b09;
	background-image: -webkit-linear-gradient(to top, #7bab19, #5f9b09);
	background-image: linear-gradient(to top , #7bab19, #5f9b09);
	border-right: 1px solid #bdc8a3;
	border-left: none;
}
.game_lm_title li.fR{
	float: right;
	border-left: 1px solid #bdc8a3;
	border-right:none;
}
fieldset{
	padding:0px 0px 5px 0px;
	border:1px solid #d7dfd0;
	background: #f8fef8;
}
fieldset:hover{
	background: #f7fcec;
}
legend{
	color:#333333;
	padding:2px 6px;
	margin:2px 0 0px 7px;
	_margin-top:0px; 
 	border-right:1px solid #b5c3a9;
 	border-bottom:1px solid #b5c3a9;
 	background:#d7dfd0; 
 	font-weight:bold;
 } 
 .game_box_tool{
	min-width: 858px;
	height: 26px;
	padding: 6px 10px 5px 10px;
	border-top: 1px solid #c8d0b3;
	background: #e4efd1;
	background-image:-webkit-linear-gradient(to top, #e4efd1, #f9fff9);
	background-image:linear-gradient(to top , #e4efd1, #f9fff9);
	text-align: right;
	position:absolute;
}

.game_box_tool2{
	min-width: 876px;
	height: 26px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #c8d0b3;
	text-align: left;
	position:absolute;
}

.myLayerTitle a{
	float: right;
	width: 30px;
	height: 30px;
	background: url(../images/skin/green/BoxBg1.png) -61px -192px no-repeat;
}
.myLayerTitle a:hover{
	background: url(../images/skin/green/BoxBg1.png) -61px -222px no-repeat;
}


/* myLayer */
.myLayer{
	position: absolute;
	border: 3px solid #519003;
	background: #fff;
	padding: 1px 0 1px 1px;
	z-index: 9999;
	border-radius: 3px;
	box-shadow: 0 2px 5px #000;
}
.myLayerOn{
	position: absolute;
	width: 19px;
	height: 10px;
	line-height: 10px;
	font-size: 0;
	top: -10px;
	left: 5px;
	background: url(../images/skin/green/BoxBg1.png) -290px -91px no-repeat;
}
.myLayerTitle{
	height: 30px;
	line-height: 30px;
	background: #e1e7db;
	border-bottom: 1px solid #cbd6c1;
	overflow: hidden;
	zoom: 1;
}
.myLayerTitle h3{
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	padding-left: 25px;
	background: url(../images/skin/green/BoxBg1.png) -63px -152px no-repeat;
	font-family:Verdana,"宋体",Arial,Sans;
}

.myLayerContent{
	padding: 10px 10px 0 10px;
	margin: 0 0 10px 0;
	background: #fff;
	position: relative;
}
.myLayerFooter{
	background: #ebefe8;
	border-top: 1px solid #d7dfd0;
	text-align: right;
	padding: 5px;
}
.myLayerFooter a{
	margin: 0 0 0 5px;
}
.myLayerFooter a:hover{
	color: #fff;
}
.myLayerFooter a.grayBtn:hover{
	color: #343434;
}
.myLayerFooter a.grayBtn1:hover{
	color: #898989;
}

.myLayerBox p{
	height: 24px;
	line-height: 24px;
}
.myLayerBox p em{
	color: #e64100;
	font-size: 12px;
	margin-right: 10px;
	font-weight: bold;
	font-family:Verdana,"宋体",Arial,Sans;
}
.myLayerBox p em.blue{
	color: blue
}
.myLayerBox p i{
	color: #008d0d;
	font-size: 12px;
	margin-right: 5px;
	font-weight: bold;
	font-family:Verdana,"宋体",Arial,Sans;
}
#myxTips{
	position: absolute;
	padding: 1px;
	border: 1px solid #dbbca1;
	background: #fff;    
	border-radius: 3px;
	box-shadow: 0 1px 5px #a9a9a9;
	z-index: 99999
}
#myxTipsLeft{
	position: absolute;
	left: -4px;
	top: 10px;
	width: 5px;
	height: 7px;
	line-height: 7px;
	font-size: 0px;
	background: url(../images/BoxBg.png) -2px -223px no-repeat;
}
#myxTipsContent{
	padding: 4px;
	line-height: 18px;
	color: #cc6633;
	background: #f9f2eb;
}
.myLayerMask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	z-index: 9998;
}
.overHidden{
	height: 244px;
	overflow-y: scroll;
}
.onBottom .myLayerOn{
	top: auto;
	bottom: -10px;
	background: url(../images/skin/green/BoxBg1.png) -262px -91px no-repeat;
}
.bf_14{ 
	font-size: 14px;
	font-weight: bold;
	font-family:Verdana,"宋体",Arial,Sans;
}

.quickOrderWrap{
			width: 661px;
			position: relative;
		}
		.qoNumber{
			overflow: hidden;
			zoom: 1;
			border-top: 1px solid #afbf87;
			border-left: 1px solid #afbf87;
		}
		.quickBall{
			float: left;
			width: 32px;
			height: 26px;
			line-height: 26px;
			text-align: center;
			font-size: 12px;
			font-weight:bold;
			text-decoration: none;
			border-right: 1px solid #afbf87;
			border-bottom: 1px solid #afbf87;
			font-family:Verdana,"宋体",Arial,Sans;
		}
		.quickBall:hover{
			background: #d9e4c9
		}
		.quickBall.active{
			background: #ffdcba;
		}
		.red, .red:hover{
			color: red;
		}
		.blue, .blue:hover{
			color: blue;
		}
		.green, .green:hover{
			color: green;
		}
		.qoText{
			overflow: hidden;
			zoom: 1;
			border-top: 1px solid #afbf87;
			border-left: 1px solid #afbf87;
			margin-top: -1px;
			margin-bottom: 10px;
		}
		.quickText{
			float: left;
			width: 54px;
			height: 26px;
			line-height: 26px;
			text-align: center;
			font-size: 12px;
			text-decoration: none;
			background: url(../images/skin/green/BoxBg1.png) -115px -185px no-repeat;
			border-right: 1px solid #afbf87;
			border-bottom: 1px solid #afbf87;
			color: #333;
		}
		.quickText:hover{
			color: #333;
			background: url(../images/skin/green/BoxBg1.png) -115px -211px no-repeat;
		}
		.quickText.active{
			color: #000;
			background: url(../images/skin/green/BoxBg1.png) -115px -237px no-repeat;
		}
		.qoInstall{
			overflow: hidden;
			zoom: 1;
		}
		.qoInLeft{
			float: left;
			width: 230px;
			font-size: 12px;
			border-collapse: collapse;
			font-family:Verdana,"宋体",Arial,Sans;
		}
		.qoInLeft tr{
			height: 28px;
		}
		.qoInLeft td{
			border: 1px solid #bdc99e;
			padding: 2px 5px;
		}
		.qoInLeftBg{
			background: #eef0e8;
			text-align: center;
		}
		.qoInLeftBtn{
			width: 40px;
			height: 22px;
			background: #6d7e4c;
			border-radius: 3px;
			color: #fff;
			border: none;
			cursor: pointer;
			vertical-align: middle;
		}
		.qoInLeftBtn:hover{
			background: #596a37
		}
		.qoInRight{
			float: right;
			width: 420px;
			height: 198px;
			background: url(../images/qoBg.gif) center 36px no-repeat;
			overflow-y: auto;
			font-family:Verdana,"宋体",Arial,Sans;
		}
		.qoInRight table{
			width: 100%;
			_width: 98%;
			font-size: 12px;
			text-align: center;
			border-collapse: collapse;
		}
		.qoInRight thead{
			background: #e8ebdf;
			background-image:-webkit-linear-gradient(to top, #e8ebdf, #fdfff7);
			background-image:linear-gradient(to top , #e8ebdf, #fdfff7);
		}
		.qoInRight tr{
			height: 28px;
		}
		.qoInRight tbody tr{
			background: #fff;
		}
		.qoInRight td{
			border: 1px solid #bdc99e;
			padding: 2px 5px;

		}
		.qtBtn{
			width: 50px;
			height:22px;
			line-height:22px;
			background: #6d7e4c;
			color: #fff;
		    border-radius: 3px;
		    margin:5px 0 0 5px;
		    border: none;
		}
		.qtBtn:hover{
			color: #fff;
			background: #596a37;
		}
		.lang{
			width: 105px;
		}
		.qoTips{
			display: none;
		}
		.qoTips .qoTipsBg{
			position: absolute;
			top:0;
			left: 0;
			width: 661px;
			height: 400px;
			background: #fff;
			filter: alpha(opacity=50);
			opacity: 0.5;
		}
		.qoTips .qoTipsBox{
			position: absolute;
			width: 400px;
			height: 200px;
			left: 50%;
			top: 50%;
			margin-left: -200px;
			margin-top: -100px;
			border: 3px solid #267cb9;
			background: #fff;
		}
		.qoTips .qoTipsTitle{
			height: 30px;
			padding-left:3px;
			line-height: 30px;
			border-bottom: 1px solid #d7dfd0;
			background: #e7f0ff;
		}
		.qoTips .qoTipsTitle h3{
			float: left;
			height: 30px;
			line-height: 30px;
			font-size: 12px;
			padding-left: 25px;
			background: url(../images/skin/green/BoxBg1.png) -63px -152px no-repeat;
			font-family:Verdana,"宋体",Arial,Sans;
		}
		.qoTipsFooter{
			position: absolute;
			bottom: 0;
			left: 0px;
			width: 100%;
			height: 33px;
			padding-top:3px;
			border-top: 1px solid #d7dfd0;
			background: #e7f0ff;
			text-align: center;
		}
		.qoTipsCon{
			padding:3px 10px;
			height: 125px;
			overflow-y: auto; 
		}
		.qoTipsCon p{
			line-height: 20px;
			font-family:Verdana,"宋体",Arial,Sans;
		}
		.qoTipsCon p span{
			margin: 0 3px 0 2px;
			font-weight: bold;
		}
		.qoPTitle{
			font-size: 12px;
			margin-bottom: 3px;
			font-weight: bold;
			border-bottom:1px dashed #b6c3d7;
			padding-bottom:3px;
		}
		.qoTipsFooter button{
			margin-top: 2px;
		}
		.plShow{
			color: red;
			font-weight: bold;
		}
		.plShow span{
			color: #666;
			font-weight: normal;
		}
		.ball span.addFH{
			float: left;
			font-size: 12px;
			width: 20px;
		}

		.onlyNum{
			ime-mode:disabled;
		}


.radioSim{
	display: inline-block;
	width: 100%;
	height: 24px;
	background: url(../images/radio.gif) center 2px no-repeat;
}
.radioPoint{
	background: url(../images/radio.gif) center -71px no-repeat;
}
.radioDtPoint{
	background: url(../images/radio.gif) center -292px no-repeat;
}
.radioDtPoint.radiodsable{
	background: url(../images/radio.gif) center -365px no-repeat;
}
.radiodsable{
	background: url(../images/radio.gif) center -144px no-repeat;
}

/*快捷投注*/
	.tool_left{
		float: left;
		width: 500px;
	}
	.t_left{
		width: 700px;
		text-align: left;
	}
		.t_left label{
			vertical-align: middle;
		}
		.t_left input{
			vertical-align: middle;
		}
		.t_left a{
			display: inline-block;
			vertical-align: middle;
			padding: 4px 10px;
			background: #c4cfaf;
			-moz-border-radius: 3px;
		    -webkit-border-radius: 3px;
		    border-radius:3px;
			font-family:Verdana,"宋体",Arial,Sans;
		}
		.t_left i{
			position: absolute;
			top: 11px;
			left: 138px;
			font-style: normal;
			text-align: center;
			padding: 1px 5px 4px 5px;
			background: #f7f7f7;
			-moz-border-radius: 3px;
		    -webkit-border-radius: 3px;
		    border-radius:3px;
		    line-height: 10px;
		    cursor: pointer;
		    display: none;
			font-family:Verdana,"宋体",Arial,Sans;
		}
		.t_left i:hover{
			color: #f80;
			background: #e7ecef
		}
		.t_left em{
			position: relative;
			/**position: absolute;*/
			display: inline-block;
		}
		.t_left b{
			display: inline-block;
			vertical-align: middle;
			padding: 4px 10px;
			background: #6d7e4c;
			-moz-border-radius: 3px;
		    -webkit-border-radius: 3px;
		    border-radius:3px;
			cursor: pointer;
			color: #fff;
			font-weight: normal;
		}
		.t_left em strong{
			overflow:hidden;
			position: absolute;
			width: 65px;
			top: -148px;
			left: 110%;
			padding: 5px 5px 0 5px;
			border: 1px solid #aaba82;
			-moz-border-radius: 3px;
		    -webkit-border-radius: 3px;
		    border-radius:3px;
		    background: #fff;
		    overflow: hidden;
		    zoom:1;
		    -moz-box-shadow:2px 2px 5px #ccc; 
		    -webkit-box-shadow:2px 2px 5px #ccc; 
		    box-shadow:2px 2px 5px #ccc;
		    display: none;
		}
		.t_left em strong input{
			margin-bottom: 5px;
		}
		.t_left em strong input, .t_left em strong .btn{
			display: inline-block;
			vertical-align: middle;
		}
		.t_left em strong .btn{
			padding: 0;
			width: 64px;
			height: 24px;
			background: #6d7e4c;
			color: #fff;
			border: none;
			-moz-border-radius: 3px;
		    -webkit-border-radius: 3px;
		    border-radius:3px;
		    cursor: pointer;
		    float: right;
		}
	.t_right{
		display: inline-block;
		width: 300px;
		text-align: right;
		overflow: hidden;
		zoom:1;
	}
	.t_right .btn{
		margin-left: 10px;
	}
.d1_8 li{
	height:27px;
	line-height: 23px;
}
.d1_8 span{
	display: inline-block;
}
.d1_8 .name{ 
	display: none;
}
.d1_8 .p{
	width: 55px;
	text-align: center;
}
.d1_8 .in{
	width: 45px;
	text-align: center;
}
.d1_8 .input {
	width: 36px;
	font-size: 12px;
	line-height: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/skin/green/BoxBg1.png) 0 -91px no-repeat;
	font-family:Verdana,"宋体",Arial,Sans;  
	vertical-align: middle;
}
.d1_8 .input:hover{
	border: 1px solid #d4724b;
}	
.t_d1_8{
	width:866px;
	margin: 5px 4px 6px 4px;
	text-align:center;
	border-collapse:collapse;
}
.t_d1_8 a{
	text-decoration:none;
}
.t_d1_8 a:hover {
	text-decoration:underline;
}

.t_d1_8 th{
	height: 22px;
	background: #ecf3e0;
	border: 1px solid #d7dfd0;
	background-image:-webkit-linear-gradient(to top, #ecf3e0, #ffffff);
	background-image:-o-linear-gradient(to top, #ecf3e0, #ffffff);
	background-image:linear-gradient(to top, #ecf3e0, #ffffff);
	color:#333;
	padding:0;
}
.t_d1_8 td {
	border:1px #d7dfd0 solid;
	background:#f8fef8;
}
.t_d1_8 a {
	display: inline-block;
	font-size: 12px;
	color: #e64100;
	font-weight: bold;
	font-family:Verdana,"宋体",Arial,Sans;
}
.t_d1_8 a:hover{
	text-decoration: underline;
}
.zm1_6 .input {
	width: 55px;
	font-size: 12px;
	line-height: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/skin/green/BoxBg1.png) 0 -91px no-repeat;
	font-family:Verdana,"宋体",Arial,Sans;  
	vertical-align: middle;
}
.zm1_6 .input:hover{
	border: 1px solid #d4724b;
}
.drop_down{
	width: 859px;
	margin: -5px auto 10px auto;
	padding: 2px;
	background: #f3f6f0;
	border-left: 1px solid #bdc8a3;
	border-right: 1px solid #bdc8a3;
	border-bottom: 1px solid #bdc8a3;
}
.drop_down label{
	display: none;
	margin-right: 10px;
	padding: 4px 6px;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.drop_down label.show{
	display: inline-block;
}
.drop_down label span, .drop_down label input{
	vertical-align: middle;
}
.drop_down label span{
	margin-left: 2px;
}
.drop_down label:hover{
	background: #dce3d4
}
.drop_down label.isdp{
	display: none;
}
.aPlAlert{
	border-collapse: collapse;
}
.aPlAlert td{
	padding: 5px;
	background: #eef0e8 ;
	border: 1px solid #bdc99e;
}
.aPlAlert td span{
	display: block;
	text-align: center;
	color: #e64100;
	font-size: 12px;
	font-weight: bold;
	font-family:Verdana,"宋体",Arial,Sans;
}
.aPlAlert td span.NoCPl{
	float: none;
	margin: 0 auto;
}
.mtip.success {
	background-color:#69a10f;
}
/* tips */
.mtip .mclose,.mtip .mclose,.mtip .mclose {
	background-image:url(../images/skin/green/BoxBg1.png);
	background-repeat:no-repeat;
	display:inline-block;
	width:8px;
	height:8px;
	margin-top:4px;
	float:right;
	cursor:pointer
}
.mtip .mclose{
	position: absolute;
	top: 6px;
	right: 8px;
}
.mtip.success .mclose {
	background-position:-241px -113px;
}
.mtip.error .mclose {
	background-position:-233px -113px;
}
.mtip.warning .mclose {
	background-position:-225px -113px
}
.mtip.success .mclose:hover {
	background-position:-241px -121px
}
.mtip.error .mclose:hover {
	background-position:-233px -121px
}
.mtip.warning .mclose:hover {
	background-position:-225px -121px
}
/* order */
.order{
	width: 440px;
	border-collapse: collapse;
	font-size: 12px;
}
.order td, .order th{
	padding: 2px 0;
}
.order th{
	height:20px;
	text-align: center;
	border: 1px #d7dfd0 solid;
	background: #ecf3e0;
	background-image: -webkit-linear-gradient(to top, #ecf3e0, #fcfff9);
	background-image: linear-gradient(to top , #ecf3e0, #fcfff9);
}
.order td{
	background-color: #ffffff;
	border: 1px #d7dfd0 solid;
	text-align: center;
	font-family:Verdana,"宋体",Arial,Sans;
}
.zjWrap th{
	padding-left: 5px;
	font-weight: normal;
	text-align: left;
	font-family:Verdana,"宋体",Arial,Sans;
}
.zjWrap th span{
	font-weight: bold;
	color: blue
}
.zm1_6 li,.t_d1_8 li{
	height:27px;
	line-height: 23px;
	border-bottom:1px solid #f8fef8;
	border-top:1px solid #f8fef8;
}
li.lineActive{
	background: #ffffa2;
	border-bottom:1px solid #dce4d5;
	border-top:1px solid #dce4d5;
}
.kjBtn{ 
	border:1px solid #a8b48b; 
	padding:2px 4px 2px 15px; 
	background:url(../images/BoxBg.png) 3px -62px no-repeat;
	margin-left:11px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.BoxBg{ background:#ebebeb!important;}

.kxbtn{
	display: inline-block;
	vertical-align: middle;
	padding: 2px 4px;
	background: #c4cfaf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Verdana,"宋体",Arial,Sans;
}

.t_dw td {
	border: 1px solid #c4cfaf;
	height: 24px;
}

.shell-top {
	width: 100%;
	height: 30px;
	border-top: 1px solid #c8d0b3;
	background: #e4efd1;
	background-image: -webkit-linear-gradient(to top, #e4efd1, #f9fff9);
	background-image: linear-gradient(to top , #e4efd1, #f9fff9);
	text-align: left;
}

.pager span {
	margin-left: 1px;
	padding: 2px 8px 2px 8px;
	border: 1px #c8d0b3 solid;
	background-color: #fff;
}

.triangle-topleft {
	width: 0;
	height: 0;
	float:top;
	position:absolute;
	border-top: 10px solid #69a10f;
	border-right: 10px solid transparent;
}

.triangle-right {
	width: 0;
	height: 0;
	margin: auto;
	position: absolute;  top: 0; left: 0; bottom: 0; right: 0;
	border-top: 10px solid transparent;
	border-left: 8px solid #69a10f;
	border-bottom: 10px solid transparent;
}